name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - run: npm install
      - run: npm run test
      - run: make lint

# - name: Test & publish code coverage
      #   # Publish code coverage on Code Climate
      #   # https://github.com/paambaati/codeclimate-action
      #  uses: paambaati/codeclimate-action@v3.0.0
      #   # Add Code Climate secret key
      #   env:
      #     CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      #     JACOCO_SOURCE_PATH: app/src/main/java
      #   with:
      #     coverageCommand: make report
      #     coverageLocaions: ${{github.workspace}}/app/build/reports/jacoco/test/jacocoTestReport.xml:jacoco
      #     debug: true
